.login__form {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20em;
  min-height: 14em;
  margin-top: -12em;
  margin-left: -10em;
  border: 1px solid orangered;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
}


.login__form header {
  background-color: orangered;
  padding: 0;
  width: 100%;
  height: 55px;
  top: 0;
  color: #ffffff;
  padding-top: 1rem;
  padding-left: 2rem;
}

.login__form .login__form-content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.login__form-content button {
  margin-top: 1rem;
  width: 9rem;
  height: 2.5rem;
  font-weight: bold;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}

.login__form-content .column__2 {
  text-align: center;
}

.submit__btn:hover {
  color: #ffffff;
  border: 1px solid orangered;
  background-color: orangered;
}

.register__link {
  cursor: pointer;
  padding-top: 2rem;
  color: orangered !important;
}

.register__link:hover {
  color: blueviolet !important;
}


.register__link span {
  text-align: center;
  width: 9rem;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 1px solid orangered;
  padding-bottom: 2px;
}


/*  */
@media (max-width: 768px) {
  .login__form {
    width: 80%;
    left: 0;
    margin-left: 10%;
    border: 1px solid orangered;
  }

  .login__form-content button {
    width: 9rem;
  }
}

/*  */
@media (max-width: 375px) {
  .login__form-content button {
    width: 8rem;
  }
}

/*  */
@media (max-width: 320px) {
  .login__form-content button {
    width: 7rem;
  }
}