/* GLOBAL CSS */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

main {
  margin-top: 60px;
  left: 0;
  text-align: justify;
}
 {
  background-color: red;
}

.form__control {
  padding: 1rem 0;
}

.form__group {
  padding-top: 0.5rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.form__group:first-child {
  margin-top: 0;
}

.form__control label {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0.2rem;
}

.column__2 {
  float: left;
  width: 50%;
}

.input__text,
.input__password {
  float: right;
  margin-right: 3%;
  width: 68%;
  border-radius: 0;
  border: 1px solid blueviolet;
  padding: 3px;
  font-size: 16px;
}

.input__text:focus,
.input__password:focus {
  background-color: whitesmoke;
  border: 1px solid lightcyan;
}

.input__error {
  background-color: rgba(255, 147, 188, 0.3);
  border: 1px solid red;
}

.error__text {
  text-align: center;
  padding-right: 2rem;
  padding-top: 0;
  color: rgb(248, 12, 103);
  padding-bottom: 0;
  margin-bottom: 0;
}
